USE [FinalAlteryxUniversityModel]
GO
/****** Object:  Table [dbo].[Dim_Class]    Script Date: 2/23/2022 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Class](
	[Class_ID] [smallint] NOT NULL,
	[Class_Timing] [char](4) NULL,
	[Class_Capacity] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_course]    Script Date: 2/23/2022 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_course](
	[Course_ID] [float] NOT NULL,
	[CourseName] [char](23) NULL,
	[Credits] [float] NULL,
	[Term_Offered] [char](6) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_department]    Script Date: 2/23/2022 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_department](
	[Department_ID] [float] NOT NULL,
	[DepartmentName] [char](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_professor]    Script Date: 2/23/2022 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_professor](
	[prof_id] [float] NOT NULL,
	[Fname] [char](11) NULL,
	[Lname] [char](8) NULL,
	[email] [varchar](29) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_schedule]    Script Date: 2/23/2022 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_schedule](
	[Schedule_ID] [float] NOT NULL,
	[Course_ID] [float] NOT NULL,
	[Course_Start_Time] [char](7) NULL,
	[Course_End_Time] [char](8) NULL,
	[Class_Start_Time] [char](8) NULL,
	[Class_End_Time] [char](8) NULL,
	[Class_ID] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_student]    Script Date: 2/23/2022 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_student](
	[NUID] [float] NULL,
	[Lname] [varchar](12) NULL,
	[Fname] [varchar](11) NULL,
	[dateofbirth] [date] NULL,
	[Email] [char](27) NULL,
	[ContactNo] [float] NULL,
	[Country] [char](13) NULL,
	[State] [varchar](14) NULL,
	[City] [varchar](15) NULL,
	[Postal Code] [float] NULL,
	[Region] [char](7) NULL,
	[Apartment No] [float] NULL,
	[Apartment_Name] [varchar](17) NULL,
	[Status] [char](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTranscripts]    Script Date: 2/23/2022 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTranscripts](
	[Transcripts_ID] [float] NOT NULL,
	[CourseName] [char](4) NULL,
	[Credits] [float] NULL,
	[GPA] [float] NULL,
	[Transcripts_Total] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_table]    Script Date: 2/23/2022 10:15:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_table](
	[Class_ID] [smallint] NULL,
	[Course_ID] [smallint] NULL,
	[Department_ID] [tinyint] NULL,
	[prof_id] [smallint] NULL,
	[Schedule_ID] [tinyint] NULL,
	[NUID] [tinyint] NULL,
	[Transcripts_ID] [tinyint] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Dim_Class] ([Class_ID], [Class_Timing], [Class_Capacity]) VALUES (3001, N'2:00', 60)
INSERT [dbo].[Dim_Class] ([Class_ID], [Class_Timing], [Class_Capacity]) VALUES (3002, N'3:00', 60)
INSERT [dbo].[Dim_Class] ([Class_ID], [Class_Timing], [Class_Capacity]) VALUES (3003, N'4:00', 100)
GO
INSERT [dbo].[Dim_course] ([Course_ID], [CourseName], [Credits], [Term_Offered]) VALUES (6201, N'Database maangement    ', 4, N'Fall  ')
INSERT [dbo].[Dim_course] ([Course_ID], [CourseName], [Credits], [Term_Offered]) VALUES (6202, N'Database maangement    ', 4, N'Spring')
INSERT [dbo].[Dim_course] ([Course_ID], [CourseName], [Credits], [Term_Offered]) VALUES (7270, N'Business Intelligence  ', 4, N'Fall  ')
GO
INSERT [dbo].[Dim_department] ([Department_ID], [DepartmentName]) VALUES (1, N'DAMG')
INSERT [dbo].[Dim_department] ([Department_ID], [DepartmentName]) VALUES (2, N'MIS ')
INSERT [dbo].[Dim_department] ([Department_ID], [DepartmentName]) VALUES (3, N'EGM ')
GO
INSERT [dbo].[Dim_professor] ([prof_id], [Fname], [Lname], [email]) VALUES (3181, N'Maribeth   ', N'Yedwab  ', N'MaribethYedwab@gmail.com')
INSERT [dbo].[Dim_professor] ([prof_id], [Fname], [Lname], [email]) VALUES (3182, N'Christopher', N'Martinez', N'ChristopherMartinez@gmail.com')
INSERT [dbo].[Dim_professor] ([prof_id], [Fname], [Lname], [email]) VALUES (3183, N'Lynn       ', N'Smith   ', N'LynnSmith@gmail.com')
GO
INSERT [dbo].[Dim_schedule] ([Schedule_ID], [Course_ID], [Course_Start_Time], [Course_End_Time], [Class_Start_Time], [Class_End_Time], [Class_ID]) VALUES (156, 6201, N'August ', N'December', N'13:00:00', N'15:00:00', 3001)
INSERT [dbo].[Dim_schedule] ([Schedule_ID], [Course_ID], [Course_Start_Time], [Course_End_Time], [Class_Start_Time], [Class_End_Time], [Class_ID]) VALUES (157, 6202, N'January', N'May     ', N'13:00:00', N'15:00:00', 3002)
INSERT [dbo].[Dim_schedule] ([Schedule_ID], [Course_ID], [Course_Start_Time], [Course_End_Time], [Class_Start_Time], [Class_End_Time], [Class_ID]) VALUES (158, 7270, N'August ', N'December', N'13:00:00', N'15:00:00', 3003)
GO
INSERT [dbo].[Dim_student] ([NUID], [Lname], [Fname], [dateofbirth], [Email], [ContactNo], [Country], [State], [City], [Postal Code], [Region], [Apartment No], [Apartment_Name], [Status]) VALUES (1, N'Gute', N'Claire', CAST(N'1993-11-12' AS Date), N'GuteClaire@gmail.com       ', 8578911230, N'United States', N'Kentucky', N'Henderson', 42420, N'South  ', 18, N'Bush', N'Current')
INSERT [dbo].[Dim_student] ([NUID], [Lname], [Fname], [dateofbirth], [Email], [ContactNo], [Country], [State], [City], [Postal Code], [Region], [Apartment No], [Apartment_Name], [Status]) VALUES (2, N'Huff', N'Darrin', CAST(N'1993-11-12' AS Date), N'HuffDarrin@gmail.com       ', 8578911231, N'United States', N'Kentucky', N'Henderson', 42420, N'South  ', 49, N'Hon', N'Current')
INSERT [dbo].[Dim_student] ([NUID], [Lname], [Fname], [dateofbirth], [Email], [ContactNo], [Country], [State], [City], [Postal Code], [Region], [Apartment No], [Apartment_Name], [Status]) VALUES (3, N'O''Donnell', N'Sean', CAST(N'1993-06-17' AS Date), N'O''DonnellSean@gmail.com    ', 8578911232, N'United States', N'California', N'Los Angeles', 90036, N'West   ', 20, N'Self', N'Current')
GO
INSERT [dbo].[DimTranscripts] ([Transcripts_ID], [CourseName], [Credits], [GPA], [Transcripts_Total]) VALUES (1, N'DWBI', 4, 3.69, 4)
INSERT [dbo].[DimTranscripts] ([Transcripts_ID], [CourseName], [Credits], [GPA], [Transcripts_Total]) VALUES (2, N'DWBI', 4, 3.81, 1)
INSERT [dbo].[DimTranscripts] ([Transcripts_ID], [CourseName], [Credits], [GPA], [Transcripts_Total]) VALUES (3, N'DWBI', 4, 3.59, 3)
GO
INSERT [dbo].[Fact_table] ([Class_ID], [Course_ID], [Department_ID], [prof_id], [Schedule_ID], [NUID], [Transcripts_ID]) VALUES (3001, 6201, 1, 3181, 156, 1, 1)
INSERT [dbo].[Fact_table] ([Class_ID], [Course_ID], [Department_ID], [prof_id], [Schedule_ID], [NUID], [Transcripts_ID]) VALUES (3002, 6202, 2, 3182, 157, 2, 2)
INSERT [dbo].[Fact_table] ([Class_ID], [Course_ID], [Department_ID], [prof_id], [Schedule_ID], [NUID], [Transcripts_ID]) VALUES (3003, 7270, 3, 3183, 158, 3, 3)
GO
/****** Object:  Index [PK1]    Script Date: 2/23/2022 10:15:21 PM ******/
ALTER TABLE [dbo].[Dim_Class] ADD  CONSTRAINT [PK1] PRIMARY KEY NONCLUSTERED 
(
	[Class_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK2]    Script Date: 2/23/2022 10:15:21 PM ******/
ALTER TABLE [dbo].[Dim_course] ADD  CONSTRAINT [PK2] PRIMARY KEY NONCLUSTERED 
(
	[Course_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK3]    Script Date: 2/23/2022 10:15:21 PM ******/
ALTER TABLE [dbo].[Dim_department] ADD  CONSTRAINT [PK3] PRIMARY KEY NONCLUSTERED 
(
	[Department_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK4]    Script Date: 2/23/2022 10:15:21 PM ******/
ALTER TABLE [dbo].[Dim_professor] ADD  CONSTRAINT [PK4] PRIMARY KEY NONCLUSTERED 
(
	[prof_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK5]    Script Date: 2/23/2022 10:15:21 PM ******/
ALTER TABLE [dbo].[Dim_schedule] ADD  CONSTRAINT [PK5] PRIMARY KEY NONCLUSTERED 
(
	[Schedule_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK7]    Script Date: 2/23/2022 10:15:21 PM ******/
ALTER TABLE [dbo].[DimTranscripts] ADD  CONSTRAINT [PK7] PRIMARY KEY NONCLUSTERED 
(
	[Transcripts_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dim_schedule]  WITH CHECK ADD  CONSTRAINT [RefDim_Class10] FOREIGN KEY([Class_ID])
REFERENCES [dbo].[Dim_Class] ([Class_ID])
GO
ALTER TABLE [dbo].[Dim_schedule] CHECK CONSTRAINT [RefDim_Class10]
GO
ALTER TABLE [dbo].[Dim_schedule]  WITH CHECK ADD  CONSTRAINT [RefDim_course9] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[Dim_course] ([Course_ID])
GO
ALTER TABLE [dbo].[Dim_schedule] CHECK CONSTRAINT [RefDim_course9]
GO
